html,
body {
    background-color: #272727;
    width: 95vw;
    height:93vh;
}
p,
h1 {
    color: #ff652f;
    font-family: sans-serif;
}
#chart svg {
    width: 95vw;
    height:93vh;
}
svg text {
    fill: #747474;
    font-family: sans-serif;
}