* {
    font-family: 'Open Sans';
}
html,
body {
    background-color: #222629;
    width: 95vw;
    height:93vh;
}
p, h2 {
    color: #45a29e;
}
h1 {
    color: #66fcf1;
}
#chart svg {
    width: 95vw;
    height:93vh;
}
svg text {
    fill: #c5c6c7;
}